:80

root /app/dist

rewrite {
  to {path} /index.html
}

header {
  # Désactiver les en-têtes d'origine croisée
  -Access-Control-Allow-Origin
  # Configurer le mode de protection "Content Security Policy"
  Content-Security-Policy "default-src 'self'"
  # Configurer l'en-tête X-XSS-Protection pour protéger contre les attaques XSS
  X-XSS-Protection "1; mode=block"
  # Configurer l'en-tête X-Content-Type-Options pour protéger contre les attaques MIME sniffing
  X-Content-Type-Options "nosniff"
}
